params {
  project_folder          = "$PWD"
  peak_consensus_output   = "peak_consensus_output"

  samples_master          = null
  consensus_pairs_csv     = null

  macs3_output            = "/ictstr01/groups/idc/projects/uhlenhaut/jiang/pipelines/nf-macs3/macs3_output"
  consensus_macs3_profile = "strict_q0.01"
  consensus_peak_ext      = "narrowPeak"
  reciprocal_overlap      = 0.7

  container_peak_consensus = "/ictstr01/groups/idc/projects/uhlenhaut/jiang/singularity_image/chipfilter-sam-bed.sif"
  queue                    = 'cpu_p'
  extra_mounts             = ''

  cpus   = 2
  memory = '8 GB'
  time   = '4h'
}

profiles {
  local { includeConfig 'configs/local.config' }
  hpc   { includeConfig 'configs/slurm.config' }
}
