process {
  executor = 'slurm'
  queue    = params.queue

  clusterOptions = '--qos=cpu_normal --nice=10000 --mail-type=END,FAIL --mail-user=shan.jiang@helmholtz-munich.de'

  cpus   = params.cpus
  memory = params.memory
  time   = params.time

  container        = params.container_peak_consensus
  containerOptions = "--bind /ictstr01/groups/idc/projects/uhlenhaut/jiang:/ictstr01/groups/idc/projects/uhlenhaut/jiang ${params.extra_mounts}".trim()
}

singularity {
  enabled    = true
  autoMounts = true
}
